.heading {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    background-image: url(images/donation1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -o-linear-gradient(rgb(0, 0, 0));
    height: 400px;
    width: 1400px;
    position: relative;
}

.heading {
    color: white;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.para {
    color: gainsboro;
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 160px;
    left: 200px;
    right: 200px;
}

.button {
    background-color: tomato;
    text-align: center;
    position: absolute;
    font-size: 29px;
    border-radius: 10px;
    top: 69%;
    left: 46.5%;
    color: white;
}

.done {
    text-align: center;
    position: absolute;
    font-size: 40px;
    top: 80%;
    left: 45%;
    font-family: 'Poppins', sans-serif;
}

.d2 {
    text-align: center;
    position: absolute;
    font-size: 19px;
    top: 93%;
    left: 18%;
}

.border1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 620px;
    width: 1290px;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
}

.button11 {
    align-items: center;
    height: 90px;
    width: 95px;
    font-style: oblique;
}

.button12 {
    height: 90px;
    width: 95px;
    background-color: cadetblue;
    font-style: oblique;
}

.button13 {
    background-color: tomato;
    text-align: center;
    position: absolute;
    font-size: 29px;
    border-radius: 10px;
    top: 149%;
    left: 49%;
    color: white;
}

.line {
    margin-top: -15%;
    margin-left: 14%;
    margin-right: 10%;
}

.amount {
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 134%;
    left: 48%;
}

.donate-plan {
    text-align: center;
    position: absolute;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    top: 165%;
    left: 43%;
}

.d22 {
    text-align: center;
    position: absolute;
    font-size: 19px;
    top: 180%;
    left: 25%;
    right: 19%;
}

.main-div {
    display: flex;
    position: absolute;
    top: 200%;
}

.column {
    text-align: center;
    width: 40%;
    margin-left: 4%;
    margin-right: -3%;
    background-color: burlywood;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    height: 5cm;
    width: 12cm;
}

.column1 {
    text-align: center;
    width: 40%;
    margin-left: 5%;
    margin-right: 1%;
    background-color: beige;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    height: 5cm;
    width: 12cm;
}

.column2 {
    text-align: center;
    width: 40%;
    margin-left: 1%;
    margin-right: 7%;
    background-color: darkgray;
    background-image: url(icons/icon4.svg);
    background-repeat: no-repeat;
    background-size: 1.5cm;
    height: 5cm;
    width: 12cm;
}

.donee {
    text-align: left;
    position: absolute;
    top: 250%;
    left: 4%;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-left: 4px;
}

.fig {
    position: absolute;
    top: 245%;
    left: 60%;
    height: 375px;
    width: 375px;
}

.doner {
    position: absolute;
    top: 265%;
    left: 4.5%;
    right: 50%;
    margin-left: 4px;
}

.button123 {
    background-color: tomato;
    position: absolute;
    font-size: 20px;
    border-radius: 5px;
    top: 278%;
    left: 5%;
    color: white;
    margin-left: 4px;
}

.survive {
    position: absolute;
    top: 309%;
    left: 55%;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-left: 4px;
}

.figg {
    position: absolute;
    top: 309%;
    left: 5%;
    height: 375px;
    width: 375px;
    margin-left: 4px;
}

.doner1 {
    position: absolute;
    top: 322%;
    left: 56%;
    right: 12%;
    margin-right: 3%;
}

.button124 {
    background-color: tomato;
    position: absolute;
    font-size: 20px;
    border-radius: 5px;
    top: 345%;
    left: 56%;
    color: white;
    margin-left: 4px;
}

.update {
    text-align: center;
    font-size: 48px;
    position: absolute;
    top: 380%;
    left: 42.5%;
}

.doner2 {
    position: absolute;
    top: 396%;
    left: 20%;
    right: 15%;
}

.bg {
    background-color: antiquewhite;
    padding: 9.5%;
    padding-top: 2%;
    margin-top: 128%;
    margin-left: 17%;
    margin-right: 17%;
}

.cool12 {
    position: absolute;
    top: 425%;
    left: 35%;
    padding: 11px;
    padding-right: 8%;
    background-color: darkgray;
    border-radius: 1%;
    border: none;
}

.sub {
    position: absolute;
    top: 425%;
    left: 56.3%;
    padding: 11px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(255, 71, 71);
    border: none;
    border-radius: 1%;
    color: white;
}

.foot {
    background-color: black;
    padding: 12px;
    margin-top: 10%;

}

.last {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
}

.last1 {
    text-align: center;
    color: darkgray;
}